requests==2.18.4
pyslack==0.3.0
raven==6.8.0
Django==1.11.13
dj-database-url==0.5.0
whitenoise==3.3.1
sqlparse==0.2.4
python-dateutil==2.7.3
dj-static==0.0.6
mimeparse==0.1.3
django-avatar==4.1.0
django-bootstrap3==10.0.1
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-extra-views==0.11.0
django-stronghold
gunicorn==19.8.1
honcho==1.0.1
psycopg2-binary==2.7.5
pytz==2018.4
redis==2.10.6
django-redis==4.9.0
django-tastypie==0.14.2
django-braces==1.13.0
