Django
whitenoise
dj-database-url
django-ordered-model
django-avatar
django-bootstrap3
django-celery
django-celery-email
django-debug-toolbar
django-extensions
django-extra-views
django-stronghold
gunicorn
honcho
kombu
psycopg2
pytz
redis
django-redis
django-tastypie
django-braces
