{% extends "base.html" %}
{% load avatar_tags %}
{% block exthead %}
    <meta http-equiv="refresh" content="60">
{% endblock %}
{% block menubar %}
{% endblock %}

{% block content %}
    {% if STATUS_LOGO_URL %}
        <div>
            <div class="pull-right"><img src="{{ STATUS_LOGO_URL }}" /></div>
        </div>
    {% endif %}
    {% if incident_list %}
        <p class="alert alert-danger">Some systems are experiencing issues.</p>
    {% endif %}
    {% for incident in incident_list %}
        <ul class="list-group components">
            {% for incident in incident_list %}
                {% include "status/partials/incident.html" %}
            {% endfor %}
        </ul>
    {% empty %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="jumbotron">
                    <p class="text-success">There are no known issues at this time.</p>
                    {% if STATUS_TICKET_URL %}
                        <p><a class="btn btn-primary btn-lg" href="{{ STATUS_TICKET_URL }}" role="button"><i class="glyphicon glyphicon-pencil"></i> New Ticket!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
