{% extends "base.html" %}
{% load avatar_tags %}
{% load bootstrap3 %}

{% block content %}
    {% if request.user.is_logged_in %}
        {% include "status/menu_partial.html" %}
    {% else %}
        <div class="text-center">
            <A HREF="{% url 'status:home' %}" class="btn btn-primary"><i class="fa fa-home"></i> Home</A>
        </div>
    {% endif %}
    <ul class="list-group components">
        <li class="list-group-item component">
            <h4><i class="glyphicon fa {{ incident.status.icon }}"></i> {{ incident.name }} <small class="text-{{ incident.status.type }}">{{ incident.status.name }}</small></h4>
            <p><div class="pull-left" style="padding-right: 10px;">{% avatar incident.user 36 %}</div>{{ incident.description }}</p>
            <p>Updated {{ incident.updated|timesince }} ago by {{ incident.user.username }}</p>
            {% if request.user.is_logged_in %}
                <div class="pull-right">
                    <A class="btn btn-primary btn-xs" HREF="{% url 'status:incident_edit' incident.pk %}">Edit</A>
                    <A class="btn btn-danger btn-xs" HREF="{% url 'status:incident_delete' incident.pk %}">Delete</A>
                </div>
            {% endif %}
        </li>
    </ul>
{% endblock %}
