{% load bootstrap3 %}
{% if request.user.is_authenticated %}
    <div class="text-center">
        <A HREF="{% url 'status:home' %}" class="btn btn-primary"><i class="fa fa-home"></i> Home</A>
        <A HREF="{% url 'status:incident_create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> New Incident</A>
        <A HREF="{% url 'status:dashboard' %}" class="btn btn-primary"><i class="fa fa-list"></i> Incidents</A>
        <A HREF="{% url 'status:dashboard_hidden' %}" class="btn btn-primary"><i class="fa fa-eye"></i> Hidden Incidents</A>
        <A HREF="{% url 'admin:auth_user_changelist' %}" class="btn btn-primary"><i class="fa fa-users"></i> Users</A>
        <A HREF="{% url 'logout' %}?next=/" class="btn btn-primary"><i class="fa fa-sign-out"></i> Sign Out</A>
    </div>
{% endif %}
